/Client site/SnapAndDetect/nbproject/private/
/Client site/SnapAndDetect/build/
/Client site/FaceDetection/dist/
/Client site/GrayConvertAndResize/nbproject/private/
/Client site/GrayConvertAndResize/build/
/Client site/GrayConvertAndResize/dist/
/Client site/AvailableDevices/nbproject/private/
/Client site/AvailableDevices/build/
/Client site/AvailableDevices/dist/
/Server/JavaFaces/trainingImages/JavaFaces/build
/Server/JavaFaces/dist/