/Client site/SnapAndDetect/nbproject/private/
/Client site/SnapAndDetect/build/
/Client site/FaceDetection/dist/
/Client site/GrayConvertAndResize/nbproject/private/
/Client site/GrayConvertAndResize/build/
/Client site/GrayConvertAndResize/dist/
/Client site/AvailableDevices/nbproject/private/
/Client site/AvailableDevices/build/
/Client site/AvailableDevices/dist/
/Server/JavaFaces/trainingImages/JavaFaces/build
/Server/JavaFaces/dist/
/Client site/FacesOnly/nbproject/private/
/Client site/FacesOnly/build/
/Client site/FrameReturner/nbproject/private/
/Client site/FrameReturner/build/
/Client site/FrameReturner/dist/
/Server/RecognizeFaces/TrainImage/nbproject/private/
/Server/RecognizeFaces/TrainAndRecognizeImage/nbproject/private/
/Server/RecognizeFaces/TrainAndRecognizeImage/build/
/Server/RecognizeFaces/TrainAndRecognizeImage/dist/
/Server/TrainAndRecognizeImage/build/
/Server/TrainAndRecognizeImage/dist/
/Server/TrainAndRecognizeImage/nbproject/private/